body {
    font: 10pt "Verdana", sans-serif;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#main-column {
    background-color: #1a1a1a;
    width: 1300px;
    min-height: 100vh;
}

input[type="text"] {
    border: 1px solid #2f2f2f;
    background-color: #000000;
    /* color: #ffffff; */
    /* optional, for readability */
    /* padding: 6px; */
}

.container {
    display: block;
    margin: 0 auto;
    /* margin-bottom: 20px; */
}

#game-container {
    margin-top: 20px;
    width: 1280px;
    height: 720px;
    position: relative;
    display: flex;
    flex-direction: row;
    outline: 1px solid #2f2f2f;
}

#canvas-container {
    width: 680px;
    height: 720px;
    position: relative;
}

#control-panel-container,
#tileset-panel-container {
    width: 300px;
    height: 720px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    outline: 1px solid #2f2f2f;
}

/* #tileset-panel-container {
    width: 380px;
    height: 720px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    outline: 1px solid #2f2f2f;
} */

#control-panel,
#tileset-panel {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: 1px solid #2f2f2f;
    background-color: #111111;
    overflow: auto;
}

.control-row {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    border: none;
    color: #a0a0a0;
    text-align: left;
    background-color: transparent;
    font: inherit;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.control {
    border: none;
    flex: 1;
    color: #aaaaaa;
    text-align: left;
    font: inherit;
    box-sizing: border-box;
}

/* button control */

.control-button {
    text-align: center;
    outline: 1px solid #2f2f2f;
    background-color: #404040;
}

.control-button:hover {
    color: #cccccc;
    background-color: #505050;
}

.control-button:active {
    background-color: #606060;
}

.control-button.disabled {
    pointer-events: none;
    color: #555555;
    background-color: #111111;
}

/* number/text input control */

.control-input {
    border: none;
    outline: 1px solid #2f2f2f;
    background-color: #111111;
}

.control-input:hover {
    color: #cccccc;
    background-color: #222222;
}

.control-input:active {
    background-color: #404040;
}

.control-input:focus {
    color: #cccccc;
    background-color: #404040;
}

#ui,
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

canvas:focus {
    outline: none;
    /* box-shadow: none; */
}

#ui {
    pointer-events: none;
}

#canvas-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.highlight {
    position: absolute;
    transform: translate(0%, 0%);
    pointer-events: none;
    background-color: transparent;
    outline: 2px solid transparent;
}

.chat-bubble {
    position: absolute;
    transform: translate(-50%, -100%);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    width: max-content;
    flex-shrink: 0;
    max-width: 200px;
    color: white;
}

#chat-container {
    width: 50%;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
    cursor: pointer;
}

/* control section styling */

.control-section {
    border-bottom: 1px solid #2f2f2f;
}

.control-section-header {
    display: block;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #2f2f2f;
    /* text-transform: uppercase; */
    /* font-variant: small-caps; */
}

details {
    margin: 0;
    padding: 0;
}

details>summary {
    margin: 0;
    padding: 0;
    list-style: none;
    /* removes marker space in some browsers */
}

details>*:not(summary) {
    margin-left: 0;
    padding-left: 0;
}